.gradle
/build/
/logs/
/logs-docker/
/images/
http-client.private.env.json
!gradle/wrapper/gradle-wrapper.jar

target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
