<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATH" value="${LOG_PATH:-./logs}"/>
    <property name="CONTAINER" value="${CONTAINER:-default}" />
    <springProperty scope="context" name="PROBE_LOG_DIR" source="logging.file.fail2ban"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d{ISO8601}) %highlight(%-5level) [%green(%t)] %cyan(%C{1}): %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <!-- Local development -->
    <springProfile name="dev">
        <appender name="FileAppender" class="ch.qos.logback.core.FileAppender">
            <file>${LOG_PATH}/app-${CONTAINER}.log</file>
            <append>true</append>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="FileAppender"/>
        </root>
    </springProfile>

    <springProfile name="pro,log">
        <appender name="FAIL2BAN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${PROBE_LOG_DIR}/probe-blocking.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${PROBE_LOG_DIR}/fail2ban.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                <maxHistory>14</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %msg%n</pattern>
            </encoder>
        </appender>

        <logger name="fail2ban" level="INFO" additivity="false">
            <appender-ref ref="FAIL2BAN_FILE"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

    <!-- Fallback when no profile is active -->
    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

</configuration>
