<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Definieer het logpad, met een fallback naar een standaardwaarde -->
    <property name="LOG_PATH" value="${LOG_PATH:-./logs}"/>

    <!-- Algemene fallback-configuratie -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %yellow(%d{ISO8601}) %highlight(%-5level) [%green(%t)] %cyan(%C{1}): %msg%n%throwable
            </pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <springProfile name="debug">
        <root level="debug">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/voornameninliedjes.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d %p %C{1} [%t] %m%n</pattern>
            </encoder>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/access.%d{yyyy-MM-dd_HH-mm}.log.zip</fileNamePattern>
            </rollingPolicy>
        </appender>

        <root level="info">
            <appender-ref ref="RollingFile"/>
        </root>
    </springProfile>

</configuration>
